.slider{
    width: 20%; /* Adjust as needed */
    background-color: rgb(131, 93, 76, 100);
    color: white;
    border: black;
    border-radius: 26px;
    height: 40vh;
}
a {
    text-decoration: none;
    color:white;
}
.slider-alt{
    width: 20%; /* Adjust as needed */
    background-color: rgb(131, 93, 76, 100);
    color: white;
    border: black;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */  
    height: 40vh;
}
.journal_item_title {
    margin-left: 2vh;
}