.general {
    background-image: './bacg.jpg';
}
.registration {
    background-color: grey;
}
.forum {
    background-image: './bacg.jpg';
    background-image: url('bacg.jpeg');
    /* background-color: grey; */
  }